<html>
	<head>
		<title>
			Tree_man_the_game

		</title>
		<!-- local file below -->
		<!-- ==================================== -->
		<!--our css file -->
		<link rel='stylesheet' href='Style.css'>

	

		<!-- module below-->
		<!-- ==================================== -->
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- future socket.io here --> 
		<!--<script src="/socket.io/socket.io.js"></script>-->
		<script src="/socket.io/socket.io.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		

		<!-- bootsrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- vue.js --> 
		<!---
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>

		<script type="text/javascript" src="vue.js"></script>
		-->

		<!-- ==================================== -->


		<script>
			var TURN = 1;  //第一次player_turn 會解鎖 button ，但有兩個人進來都會改
			var PLAYER_ID = 0 ; 
			let socket = io();
			var Env = null;
			var WALL_DIR = "Default";

			direct_dic = {
						"E" : "東",
						"S" : "南",
						"W" : "西",
						"N" : "北"
					}
			//message
			var num_message = 0; 
			var MAX_MESSAGE = 19; 
			function addMessage(Text){
				if(num_message>= MAX_MESSAGE){
					$("#message div:nth-child(1)").remove();
				}

				if(num_message %2 ==0){
					$("#message").append("<div class=\"message_div\" style=\"background-color:#F5FFFA;\">"+Text+"</div>");
				} 
				else{
					$("#message").append("<div class=\"message_div\" style=\"background-color:#DCDCDC\">"+Text+"</div>");
				}
				num_message+=1;
			}
			
			//選擇玩家 socket  ==============================================================================
			socket.on("welcome",(player1HasBeenChoosen , player2HasBeenChoosen  )=>{ //when start,hide the main page to let player select charcters.
						
						if(player1HasBeenChoosen){
							$("#pl1").attr('disabled',true);
							$("#pl1").text("player1 has been choosed");
						}
						
						if(player2HasBeenChoosen){
							$("#pl2").attr('disabled',true);
							$("#pl2").text("player2 has been choosed");
						}

						$(".LEFT").hide();
						$(".RIGHT").hide();


						
				})

			socket.on("player_choosed", (id)=>{ 
				
						if(id==1){
							
							$("#pl1").attr('disabled',true);
							$("#pl1").text("player2 has been choosed");
							
						}else if(id==-1){
							$("#pl2").attr('disabled',true);
							$("#pl2").text("player2 has been choosed");
							
						}
				})

			socket.on("start_game",()=>{
				$("button").attr('disabled', true);
				round = 1;
				$("#choose_player").hide();
				$(".detail_choose").hide();
				//放入玩家名
				if(PLAYER_ID == 1){
					$("#player_name").text("player id:1");
				}
				else{
					$("#player_name").text("player id:2");
				}

				$(".LEFT").show();
				$(".RIGHT").show();
				
				/*
				$("#my_item_2").hide();
				$("#my_item_content_2").hide();
				$("#item_sub_accept_1").hide();
				$("#item_sub_accept_2").hide();
				$("#item_sub_deny").hide();
				$("#action_pray").hide(); */
			})	
			
			socket.on("player_turn" , ()=>{
				TURN *= -1;
			//	console.log(TURN);
			//	console.log(PLAYER_ID)
				if(TURN == PLAYER_ID){
					$("button").attr('disabled', false);
				}
				else{
					$("button").attr('disabled', true);
				}
				$("#go-back").attr("disabled", false);
				
			})
			
			//========  ==============================================================================	

			socket.on("update_state", (env)=>{  //更新狀態
				Env = env;


				// 基本數值更新區
				$("#round").text(env.round);
				$("#east_hp").text(env.roads["E"].wallhp);
				$("#wood").text(env.wood);
				$("#south_hp").text(env.roads["S"].wallhp);
				$("#west_hp").text(env.roads["W"].wallhp);
				$("#north_hp").text(env.roads["N"].wallhp);
				

				$("#num_archer").text(env.num_of_troop["archer"]);
				$("#num_armor").text(env.num_of_troop["armor"]);
				$("#num_ranger").text(env.num_of_troop["ranger"]);
				// ========================================================================================
				
				// progress bar 調整
				$("#W-wall-bar").css("width" , (env.roads["W"].wallhp*100/env.maxWallhp).toString()  + "%");
		
				$("#W-wall-bar").text( (env.roads["W"].wallhp*100/env.maxWallhp).toString() + "%" );

				$("#E-wall-bar").css("width" , (env.roads["E"].wallhp*100/env.maxWallhp).toString()  + "%");
				$("#E-wall-bar").text( (env.roads["E"].wallhp*100/env.maxWallhp).toString() + "%");

				$("#N-wall-bar").css("width" , (env.roads["N"].wallhp*100/env.maxWallhp).toString()  + "%");
				$("#N-wall-bar").text( (env.roads["N"].wallhp*100/env.maxWallhp).toString()  + "%");

				$("#S-wall-bar").css("width" , (env.roads["S"].wallhp*100/env.maxWallhp).toString()  + "%");
				$("#S-wall-bar").text( (env.roads["S"].wallhp*100/env.maxWallhp ).toString() + "%");
				// ========================================================================================
			}
			)

			// jQuery , 按鈕與互動
			$(document).ready(()=>{
				//選擇玩家 按鈕 ========================
				$("#pl1").click(()=>{
					PLAYER_ID = 1;
					$("#pl1").hide();
					$("#pl2").hide();
					$("#pl").text("你是玩家1");
					socket.emit("choose_character", 1);
				});
				$("#pl2").click(()=>{
					PLAYER_ID = -1;
					$("#pl1").hide();
					$("#pl2").hide();
					$("#pl").text("你是玩家2");
					socket.emit("choose_character", -1);
				});
				//========  ==============================================================================	
				
				// id :  1 : archer , 2 : armor
				$("#choose_troop_move").click(()=>{
					 $("#choose_basic_action").hide();
					 $("#move_troop").show();
					 $("#go-back").show();
				}
				)

				$("#choose_recruit_troop").click(()=>{
					$("#choose_basic_action").hide();
					$("#recruit_troop").show();
					$("#go-back").show();

				})
				
				$("#choose_repair_wall").click(()=>{
					$("#choose_basic_action").hide();
					$("#repair_wall").show();
					$("#go-back").show();
    
				})
	            
				$("#go-back ").click(()=>{
					$(".detail_choose").hide();
					$("#choose_basic_action").show();
				})
				//========  ==============================================================================	
				// move troop button =====================================================================
				
				$(".troop_move").click(function(e){
					
					troop_type = e.target.getAttribute("type");
					dir = e.target.getAttribute("dir");
					troop_name = "沒有";
					console.log(troop_type , dir)
					dir_name = "X";
					class move_troop {
						constructor(troop_type,dir){
							this.type ='move_army';
							this.troop_type = troop_type ;
							this.direction = dir
						}
					}
				
					can_move = true;
					if(troop_type == "archer" && Env.num_of_troop["archer"] > 0   ){
						action = new move_troop(troop_type,dir);
						troop_name= "弓箭";
						dir_name = direct_dic[dir];
						
					}
					else if(troop_type == "armor" && Env.num_of_troop["armor"] > 0   ){
						action = new move_troop(troop_type,dir);
						troop_name="重甲步兵";
						dir_name = direct_dic[dir];
					}
					else if(troop_type == "ranger" && Env.num_of_troop["ranger"] > 0  ){
						action = new move_troop(troop_type,dir);
						troop_name="騎兵";
						dir_name = direct_dic[dir];
					}
					else{
						addMessage("你沒有可移動的士兵");
						can_move=false;
					}
					
					if(can_move){
						addMessage("你調動了一隊"+troop_name+"隊前往"+dir_name+"方");
						socket.emit("action_done" , PLAYER_ID , action);
					}
					
				})

				//========================================================================================


				// recruit_troop wall button ====================================================================
				$(".recruit_troop").click(function(e){

					troop_type = e.target.id;
					troop_name = "沒有";
					class recruit_troop {
						constructor(troop_type){
							this.type ='recruit';
							this.troop_type = troop_type ;
						}
					}
					can_recruit = true;
					if(troop_type == "archer" && Env.wood >= 1000  ){
						action = new recruit_troop(troop_type);
						troop_name= "弓箭";
						
					}
					else if(troop_type == "armor" && Env.wood >= 500  ){
						action = new recruit_troop(troop_type);
						troop_name="重甲步兵";
					}
					else if(troop_type == "ranger" && Env.wood >= 2000 ){
						action = new recruit_troop(troop_type);
						troop_name="騎兵";
					}
					else{
						addMessage("你沒有足夠的木頭招募士兵");
						can_recruit=false;
					}
					
					if(can_recruit){
						addMessage("你招募了一隊"+troop_name+"隊!");
						socket.emit("action_done" , PLAYER_ID , action);
					}
					
				})

				//========  ==============================================================================	

				// repair wall button ====================================================================
				$(".repair_wall_dir ").click(function(e){
					
					WALL_DIR = e.target.id;
			
					// 計算可以修補的選項
					if( Env.roads[WALL_DIR].wallhp == Env.maxWallhp){
						
						addMessage("此面城牆完好無損，不需要維修!")

					}
					else{
						$('#repair_wall_pop').modal('toggle');
						$("#repair_wall_select").empty()
						for(var i=1; i<= parseInt((Env.maxWallhp-Env.roads[WALL_DIR].wallhp)/100) ; i++){
						 	$("#repair_wall_select").append("<option value=\""+i+"\">"+i+"</option>") 
						}
					}


				})

				$("#submit_repair_wall").click(()=>{
					repair_value = parseInt(document.getElementById("repair_wall_select").value);
					class repair_wall {
						constructor(dir,unit){
							this.type ='repair_wall';
							this.direction =  dir;
							this.unit = unit ;
						}
					}
					
					
					console.log(repair_value);
					action = new repair_wall(WALL_DIR,repair_value);
					addMessage("維修了"+direct_dic[WALL_DIR]+"方牆"+repair_value*100+"點");
					socket.emit("action_done" , PLAYER_ID , action);
				})
				
			

				//========  ==============================================================================	
				// skip  =================================================================================
				$("#skip").click(function(e){
					class skip {
						constructor(){
							this.type ='skip';
						}
					}
					socket.emit("action_done" , PLAYER_ID , skip);
				})
				//========  ==============================================================================	 

				})
		</script>



	</head>
	
	




	<body>
   
	<!-- 選角畫面 ======================          -->
	<div id="choose_player">
	<img src="title.PNG" >
	<div style="text-align: center">
		<p id="pl">請選擇角色</p>
		<button class="btn btn-info" id="pl1">player1</button>
		  <button class="btn btn-info" id="pl2">player2</button>
		</div>
	


	
	</div>

	
	<!-- ======================================  -->



	<div class="LEFT">
	
	

    <!-- our status showing below-->
	<!-- ==================================== -->
	<div class="LEFT_TOP">
		<!--屬性欄，此div為最外框-->
    	<div id="status" > <div>當前狀態 <span id="player_name"> </span> </div>   
			<div id="my_basic-data">
				<!--基本數值-->
				<div>你堅守了<span id="round"> 1 </span>天</div>
				<div> 內政狀態</div>
				<div>木頭: <span id="wood">500 </span> </div>


				<div> 城牆狀態</div>
				<div>東: <span id="east_hp"> 1000</span> </div>

				<div class="progress">
					<div id="E-wall-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70"
					aria-valuemin="0" aria-valuemax="100" style="width:70%">
					  70%
					</div>
				</div>
	

				<div>南: <span id="south_hp"> 1000 </span> </div>
				
				<div class="progress">
					<div id="S-wall-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70"
					aria-valuemin="0" aria-valuemax="100" style="width:70%">
					  70%
					</div>
				</div>
	


				<div>西: <span id="west_hp"> 1000 </span> </div>
				<div class="progress">
					<div id="W-wall-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70"
					aria-valuemin="0" aria-valuemax="100" style="width:70%">
					  70%
					</div>
				</div>
	
				<div>北: <span id="north_hp"> 1000 </span> </div>
				<div class="progress">
					<div id="N-wall-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70"
					aria-valuemin="0" aria-valuemax="100" style="width:70%">
					  70%
					</div>
				</div>
	


				<div>軍隊狀態</div>
				<div>弓箭隊:    <span id="num_archer"> 1 </span>    隊         </div>
				<div>重步兵隊:    <span id="num_armor"> 0 </span>   隊          </div>
				<div>騎兵隊:    <span id="num_ranger"> 0 </span>    隊         </div>
			</div>		

        </div> <!-- id=LEFT_TOP closing tag , this section ending here-->

	<!-- all status showing above-->
	<!-- ==================================== -->

	
	
        </div><!-- id=status closing tag , this section ending here-->
	<!-- all status showing above-->
	<!-- ==================================== -->


	

	<!-- all buttons or something user interaction below-->
	<!-- ==================================== -->
	<div class="LEFT_BOTTOM">
		
			<div id="my_mission">操作</div>
			





			<!--  基本操作  -->
			<div id = "choose_basic_action">
			你這回合選擇

			<button class="choice_button btn btn-dark" id="choose_troop_move">轉守為攻!!</button>
			<button class="choice_button btn btn-dark" id="choose_recruit_troop">招募士兵</button>
			<button class="choice_button btn btn-dark" id="choose_repair_wall">修築城牆</button>
			<button class="choice_button btn btn-dark" id="skip">跳過這回合</button>

		    </div>
     
		
			<!--   =======================================   -->
			
		

			<!--  移動士兵-->
			<div class= "detail_choose" id = "move_troop"> 
				<div>選擇移動兵種  </div>  
				<div  class="troop_move_btn" v-for="item in items" :key="item.content"> 弓箭隊 <button class="troop_move" type="archer" dir="E">東 </button> <button class="troop_move" type="archer" dir="S">南 </button> <button class="troop_move" type="archer" dir="W" >西 </button> <button class="troop_move" type="archer" dir="N">北 </button></div>
				<div  class="troop_move_btn" v-for="item in items" > 重甲步兵隊 <button class="troop_move" type="armor" dir="E">東 </button> <button class="troop_move" type="armor" dir="S">南 </button> <button class="troop_move" type="armor" dir="W"  >西 </button> <button class="troop_move" type="armor" dir="N">北 </button></div>
			    <div  class="troop_move_btn" v-for="item in items"> 騎兵隊 <button class="troop_move" type="ranger" dir="E">東 </button> <button class="troop_move" type="ranger" dir="S">南 </button> <button class="troop_move" type="ranger" dir="W" >西 </button> <button class="troop_move" type="ranger" dir="N">北 </button></div> 
			</div>



			<!--   =======================================   -->



			<!--  招募士兵  -->
			<div class= "detail_choose" id = "recruit_troop"> 
				<div>選擇招募兵種  </div>  
				<div  > <button  class="recruit_troop" id="archer" >弓箭隊</button>   </div>
				<div > <button class="recruit_troop" id="armor" >重甲步兵隊</button> </div>
			    <div > <button  class="recruit_troop" id="ranger"> 騎兵隊 </button>  </div>
			
			
			
			</div>
			<!--   =======================================   -->			
			
			<!--   修城牆  -->
			<div class= "detail_choose" id = "repair_wall">  
				<div>選擇修補方向  </div>  
				<div  > <button  class="repair_wall_dir " id="E"  >東</button>  </div>
				<!-- 按下去就先選擇wall direction -->
				


				


				<div > <button class="repair_wall_dir " id="S"  >南</button> </div> 
			    <div > <button  class="repair_wall_dir " id="W" >西</button>  </div>
				<div > <button class="repair_wall_dir " id="N"  >北</button>  </div>


				<!---  這是一個彈出視窗，可以選擇城牆數量-->
				<div class="modal" id="repair_wall_pop" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title">Modal title</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
							<!-- 這是一個選擇條-->
							<div class="form-group">
								<label for="exampleFormControlSelect1">選擇城牆修築數量</label>
								<select class="form-control" id="repair_wall_select">
								  
								</select>
							  </div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit_repair_wall">送出並結束回合</button>
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
						</div>
					  </div>
					</div>
				  </div>
				<!-- end of pop window-->


			</div>
			
			
			<button class="detail_choose" , id="go-back"> 返回</button>
			<!--   =======================================   -->
			



	</div>

	</div>
	<div class="RIGHT">
	<!-- show message below--> 
			<!-- ==================================== -->
			
			<div id="message">message
		

			</div>
			
			
			<!-- show message above--> 
			<!-- ==================================== -->

	</div> 



</body>


</html>
